<div class="container mt-3">
  <ng-container *ngIf="vms | async as listVms; else failureOrLading">
    <div class="card shadow">
      <div class="card-header text-primary text-center">
        <b>Liste des machines virtuelles</b>
      </div>
      <div class="card-body">
        <div *ngIf="searchFormGroup">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchVms()">
            <div class="input-group">
              <label class="input-group-text">Keyword :</label>
              <input type="text" formControlName="keyword" class="form-control">
              <button class="btn btn-primary">
                <i class="bi bi-search">Recherche</i>
              </button>
            </div>
          </form>
        </div>
        <table class="table">
          <thead>
          <tr class="text-primary">
            <th style="text-align:center">Nom</th>
            <th style="text-align:center">Description</th>
            <th style="text-align:center">Système d'exploitation</th>
            <th style="text-align:center">Date de création</th>
            <th style="text-align:center">Status</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let v of vms | async">
            <td style="text-align:center" >{{v.name}}</td>
            <td style="text-align:center" class="bg-light">{{v.description}}</td>
            <td style="text-align:center">{{v.operatingSystem.name}}</td>
            <td style="text-align:center" class="bg-light">{{v.creation | date : 'dd-MM-yyyy:HH-mm-ss'}}</td>
            <td style="text-align:center" >
              <img class="card-img-top img-responsive"
                   src="{{setFlag(v)}}"
                   style = "height :30px; width:30px">
            </td>
            <td class="bg-light">
              <button (click)="gotoVmDetails(v)" class="btn btn-outline-primary">
                <i class="bi bi-input-cursor-text"></i>
              </button>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
      </div>

      Chargement ...
    </ng-template>
  </ng-template>
</div>
